.ReactModal__Overlay {
  opacity: 0;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
  transition: opacity 150ms ease-out;
}

.ReactModal__Content {
}

.ReactModal__Content--after-open {
  transition: opacity 150ms ease-in;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
  transition: opacity 150ms ease-in;
}

.ReactModal__Content--before-close {
  opacity: 0;
  transition: opacity 150ms ease-in;
}

body {
  background: url(/public/pics/background.jpg) no-repeat center center fixed;
  background-size: cover;
}
