{
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "rules": {
    // Possible Errors
    "comma-dangle": [2, "never"],
    "no-cond-assign": [2, "except-parens"],
    "no-console": 1,
    "no-constant-condition": 2,
    "no-control-regex": 2,
    "no-debugger": 2,
    "no-dupe-args": 2,
    "no-dupe-keys": 2,
    "no-duplicate-case": 2,
    "no-empty-character-class": 2,
    "no-empty": 1,
    "no-ex-assign": 2,
    "no-extra-boolean-cast": 2,
    "no-extra-parens": 0,
    "no-extra-semi": 2,
    "no-func-assign": 2,
    "no-inner-declarations": 2,
    "no-invalid-regexp": 2,
    "no-irregular-whitespace": 1,
    "no-negated-in-lhs": 2,
    "no-obj-calls": 2,
    "no-regex-spaces": 2,
    "no-sparse-arrays": 2,
    "no-unexpected-multiline": 2,
    "no-unreachable": 2,
    "use-isnan": 2,
    "valid-jsdoc": [1, {
      "requireReturn": false
    }],
    "valid-typeof": 0,

    // Best Practices
    "accessor-pairs": 0,
    "block-scoped-var": 2,
    "complexity": 0,
    "consistent-return": 1,
    "curly":  [2, "multi-or-nest", "consistent"],
    "default-case": 2,
    "dot-location": [2, "property"],
    "dot-notation": 2,
    "eqeqeq": [2, "smart"],
    "guard-for-in": 1,
    "no-alert": 1,
    "no-caller": 2,
    "no-case-declarations": 2,
    "no-div-regex": 2,
    "no-else-return": 1,
    "no-empty-label": 2,
    "no-empty-pattern": 2,
    "no-eq-null": 2,
    "no-eval": 2,
    "no-extend-native": 0,
    "no-extra-bind": 2,
    "no-fallthrough": 2,
    "no-floating-decimal": 2,
    "no-implicit-coercion": 1,
    "no-implied-eval": 2,
    "no-invalid-this": 2,
    "no-iterator": 2,
    "no-labels": 2,
    "no-lone-blocks": 2,
    "no-loop-func": 1,
    "no-magic-numbers": 0,
    "no-multi-spaces": 1,
    "no-multi-str": 2,
    "no-native-reassign": 2,
    "no-new-func": 2,
    "no-new-wrappers": 2,
    "no-new": 2,
    "no-octal-escape": 2,
    "no-octal": 2,
    "no-param-reassign": 0,
    "no-process-env": 1,
    "no-proto": 2,
    "no-redeclare": 2,
    "no-return-assign": 2,
    "no-script-url": 2,
    "no-self-compare": 2,
    "no-sequences": 2,
    "no-throw-literal": 1,
    "no-unused-expressions": 2,
    "no-useless-call": 1,
    "no-useless-concat": 1,
    "no-void": 2,
    "no-warning-comments": 0,
    "no-with": 2,
    "radix": 0,
    "vars-on-top": 2,
    "wrap-iife": [2, "outside"],
    "yoda": [2, "never"],

    // Strict Mode
    "strict": 0,

    // Variables
    "init-declarations": 0,
    "no-catch-shadow": 1,
    "no-delete-var": 2,
    "no-label-var": 2,
    "no-shadow-restricted-names": 2,
    "no-shadow": 1,
    "no-undef-init": 2,
    "no-undef": 1,
    "no-undefined": 1,
    "no-unused-vars": 1,
    "no-use-before-define": 2,

    // Stylistic Issues
    "array-bracket-spacing": [1, "never"],
    "block-spacing": [2, "always"],
    "brace-style": 1,
    "camelcase": 1,
    "comma-spacing": [1, {"before": false, "after": true}],
    "comma-style": [1, "last"],
    "computed-property-spacing": [1, "never"],
    "consistent-this": [1, "that"],
    "eol-last": 1,
    "func-names": 0,
    "func-style": 0,
    "id-length": 1,
    "id-match": 0,
    "indent": [2, 2],
    "jsx-quotes": [1, "prefer-single"],
    "key-spacing": [1, {"beforeColon": false, "afterColon": true}],
    "linebreak-style": 0,
    "lines-around-comment": 0,
    "max-depth": 0,
    "max-len": 0,
    "max-nested-callbacks": 0,
    "max-params": 0,
    "max-statements": 0,
    "new-cap": 1,
    "new-parens": 1,
    "newline-after-var": 0,
    "no-array-constructor": 1,
    "no-bitwise": 2,
    "no-continue": 2,
    "no-inline-comments": 0,
    "no-lonely-if": 1,
    "no-mixed-spaces-and-tabs": [1, "smart-tabs"],
    "no-multiple-empty-lines": [1, {max: 2}],
    "no-negated-condition": 0,
    "no-nested-ternary": 2,
    "no-new-object": 1,
    "no-plusplus": 1,
    "no-restricted-syntax": 0,
    "no-spaced-func": 1,
    "no-ternary": 0,
    "no-trailing-spaces": [1, {"skipBlankLines": true}],
    "no-underscore-dangle": 0,
    "no-unneeded-ternary": 1,
    "object-curly-spacing": [2, "always"],
    "one-var": 0,
    "operator-assignment": 0,
    "operator-linebreak": [1, "after"],
    "padded-blocks": 0,
    "quote-props": 0,
    "quotes": 0,
    "require-jsdoc": 0,
    "semi-spacing": [1, {"before": false, "after": true}],
    "semi": [2, "never"],
    "sort-vars": 0,
    "space-after-keywords": 1,
    "space-before-blocks": [1, "always"],
    "space-before-function-paren": [1, "never"],
    "space-before-keywords": [1, "always"],
    "space-in-parens": [2, "always", { "exceptions": ["{}"] }],
    "space-infix-ops": 1,
    "space-return-throw-case": 1,
    "space-unary-ops": [1, {"words": true, "nonwords": false}],
    "spaced-comment": [1, "always"],
    "wrap-regex": 1,

    // ECMAScript 6
    "arrow-parens": [1, "always"],
    "arrow-spacing": 1,
    "constructor-super": 2,
    "generator-star-spacing": 1,
    "no-arrow-condition": 2,
    "no-class-assign": 2,
    "no-const-assign": 2,
    "no-dupe-class-members": 2,
    "no-this-before-super": 2,
    "no-var": 2,
    "object-shorthand": 0,
    "prefer-arrow-callback": 2,
    "prefer-const": 1,
    "prefer-reflect": 1,
    "prefer-spread": 1,
    "require-yield": 2,

    // React specific
    "react/display-name": 0,
    "react/forbid-prop-types": 0,
    "react/jsx-boolean-value": 0,
    "react/jsx-closing-bracket-location": [1, "tag-aligned"],
    "react/jsx-curly-spacing": [2, "always"],
    "react/jsx-equals-spacing": [1, "never"],
    "react/jsx-handler-names": 2,
    "react/jsx-indent-props": [2, 2],
    "react/jsx-indent": [2, 2],
    "react/jsx-key": 2,
    "react/jsx-max-props-per-line": 0,
    "react/jsx-no-bind": [2, {"allowArrowFunctions": true}],
    "react/jsx-no-duplicate-props": 2,
    "react/jsx-no-literals": 0,
    "react/jsx-no-undef": 1,
    "react/jsx-pascal-case": 1,
    "react/jsx-sort-prop-types": 0,
    "react/jsx-sort-props": 0,
    "react/jsx-uses-react": 1,
    "react/jsx-uses-vars": 1,
    "react/no-danger": 2,
    "react/no-deprecated": 2,
    "react/no-did-mount-set-state": 2,
    "react/no-did-update-set-state": 2,
    "react/no-direct-mutation-state": 2,
    "react/no-is-mounted": 2,
    "react/no-multi-comp": 2,
    "react/no-set-state": 0,
    "react/no-string-refs": 2,
    "react/no-unknown-property": 2,
    "react/prefer-es6-class": [2, "always"],
    "react/prop-types": 0,
    "react/react-in-jsx-scope": 2,
    "react/require-extension": 2,
    "react/self-closing-comp": 1,
    "react/sort-comp": 1,
    "react/wrap-multilines": 1
  },
  "parser": "babel-eslint",
  "plugins": [
    "react"
  ],
  "ecmaFeatures": {
    "jsx": true
  }
}
