<!doctype html>
<html lang="en" <% if (htmlWebpackPlugin.options.production){%>manifest="manifest.appcache"<% } %>>

<head>
  <meta charset="utf-8">
  <title><%= htmlWebpackPlugin.options.title %></title>
  <meta name="description" content=".">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
  <link rel="stylesheet" type="text/css" href="public/css/foundation.min.css">
  <link rel="stylesheet" type="text/css" href="public/css/main.css">

  <!-- android -->
  <meta name="mobile-web-app-capable" content="yes">
  <!-- iOS -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="translucent-black">
  <meta name="apple-mobile-web-app-title" content="CombiBears">

  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
  <link rel="apple-touch-icon" sizes="57x57" href="public/pics/favicons/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="public/pics/favicons/apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="public/pics/favicons/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="public/pics/favicons/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="public/pics/favicons/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="public/pics/favicons/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="public/pics/favicons/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="180x180" href="public/pics/favicons/apple-touch-icon-180x180.png">
  <link rel="icon" type="image/png" href="public/pics/favicons/favicon-16x16.png" sizes="16x16">
  <link rel="icon" type="image/png" href="public/pics/favicons/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="public/pics/favicons/favicon-96x96.png" sizes="96x96">
  <link rel="icon" type="image/png" href="public/pics/favicons/android-chrome-192x192.png" sizes="192x192">
  <meta name="msapplication-square70x70logo" content="public/pics/favicons/smalltile.png" />
  <meta name="msapplication-square150x150logo" content="public/pics/favicons/mediumtile.png" />
  <meta name="msapplication-wide310x150logo" content="public/pics/favicons/widetile.png" />
  <meta name="msapplication-square310x310logo" content="public/pics/favicons/largetile.png" />

</head>

<body>
  <div id="backgroundImage"></div>
  <div id="app">
    <div class="row">
      <div class="medium-6 medium-offset-3 columns" style="margin-top: 5rem;">
        <img alt="Logotype" src="public/pics/logo_lowres.png" />
      </div>
        <div id="fountainG">
          <div id="fountainG_1" class="fountainG"></div>
          <div id="fountainG_2" class="fountainG"></div>
          <div id="fountainG_3" class="fountainG"></div>
          <div id="fountainG_4" class="fountainG"></div>
          <div id="fountainG_5" class="fountainG"></div>
          <div id="fountainG_6" class="fountainG"></div>
          <div id="fountainG_7" class="fountainG"></div>
          <div id="fountainG_8" class="fountainG"></div>
        </div>
      <noscript>
        <div class="medium-6 medium-offset-4 columns">
          <h1>
            This page require Javascript to be enabled to work!
          </h1>
        </div>
      </noscript>
    </div>
  </div>
  <script src="scripts/boundle.min.js"></script>
</body>

</html>
